* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #dde9f8;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

header {
    background-color: #003366;
    color: #fff;
    padding: 50px 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 30px;
}

header h1, footer h1 {
    font-size: 3rem;
    font-weight: 700;
}


header p, footer p {
    font-size: 1.1rem;
}

.navbar {
    margin-top: 60px;
    margin-bottom: -40px;
}

.navbar ul {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding: 0;
}

.navbar li a {
    background-color: #e4e3e3;
    color: #003366;
    padding: 7px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar li a:hover {
    background-color: #003366;
    color: #fff;
}

section {
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h2 {
    font-size: 2rem;
    color: #003366;
    border-bottom: 2px solid #003366;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    margin-left: 20px;
}

li {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

a {
    color: #003366;
    text-decoration: none;
    transition: all 0.3s ease;
}

.email-link {
    color: #fff;
}

.email-link:hover {
    color: #ff6600;
}

.contact li {
    display: flex;
    justify-content: space-between;
}

.contact a {
    font-weight: 600;
}

.contact a:hover {
    color: #ff6600;
}

.experience ul li {
    margin-bottom: 20px;
}

.experience li strong {
    font-size: 1.2rem;
    color: #003366;
}

.experience ul li ul {
    margin-left: 20px;
    font-size: 1rem;
    color: #555;
}

.education ul li {
    margin-bottom: 15px;
    font-size: 1.1rem;
}

.education li strong {
    font-size: 1.1rem;
    color: #003366;
}

.courses ul li {
    margin-bottom: 15px;
    font-size: 1.1rem;
}

.courses li strong {
    font-size: 1.1rem;
    color: #003366;
}

.technologies {
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.tech-icons {
    display: grid;
    grid-template-columns: repeat(3, auto); 
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.tech-item {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    padding: 10px;
    text-align: center;
}

.tech-item:hover {
    transform: scale(1.05);
}

.tech-item img {
    max-width: 70%;
    max-height: 70%;
}

.tech-level {
    margin-top: 10px;
    text-align: center;
}

.tech-level .label {
    display: block;
    font-size: 0.85rem;
    color: #333;
    margin-bottom: 5px;
    font-weight: 500;
}

.level-bars {
    display: flex;
    justify-content: center;
    gap: 4px;
}

.bar {
    width: 16px;
    height: 8px;
    background-color: #ccc;
    border-radius: 2px;
}

.bar.active {
    background-color: #003366;
}

@media (max-width: 768px) {
    .tech-icons {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .tech-icons {
        grid-template-columns: 1fr;
    }
}

.languages ul li {
    margin-bottom: 15px;
    font-size: 1.1rem;
}

.languages li strong {
    font-size: 1.1rem;
    color: #003366;
}

.interest ul li {
    margin-bottom: 15px;
    font-size: 1.1rem;
}

.interest li strong {
    font-size: 1.1rem;
    color: #003366;
}

.project {
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-item {
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 8px;
}

.mini-projects {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.mini-project {
    width: 300px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
    text-align: center;
    box-sizing: border-box;
}

.mini-project img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.mini-project img:hover {
    transform: scale(1.02);
}

.mini-project h3 {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #003366;
}

.mini-project p {
    font-size: 0.9rem;
    color: #444;
    margin-bottom: 10px;
}

.mini-project a {
    color: #003366;
    font-weight: bold;
    text-decoration: none;
}

.mini-project a:hover {
    color: #ff6600;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .mini-project {
        width: 100%;
    }
}

footer {
    color: #fff;
    font-weight: 400;
    background-color: #003366;
    padding: 50px 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: -10px;
}